@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);

  --color-primary: var(--primary-950);
  --color-primary-900: var(--primary-900);
  --color-primary-800: var(--primary-800);
  --color-primary-700: var(--primary-700);
  --color-primary-600: var(--primary-600);
  --color-primary-500: var(--primary-500);
  --color-primary-400: var(--primary-400);
  --color-primary-300: var(--primary-300);
  --color-primary-200: var(--primary-200);
  --color-primary-100: var(--primary-100);
  --color-primary-50: var(--primary-50);

  --color-secondary: var(--secondary-400);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-50: var(--secondary-50);

  --color-green-50: var(--green-50);
  --color-green-100: var(--green-100);
  --color-green-200: var(--green-200);
  --color-green-300: var(--green-300);
  --color-green-400: var(--green-400);
  --color-green-500: var(--green-500);
  --color-green-600: var(--green-600);
  --color-green-700: var(--green-700);
  --color-green-800: var(--green-800);
  --color-green-900: var(--green-900);
  --color-green-950: var(--green-950);

  --color-blue-50: var(--blue-50);
  --color-blue-100: var(--blue-100);
  --color-blue-200: var(--blue-200);
  --color-blue-300: var(--blue-300);
  --color-blue-400: var(--blue-400);
  --color-blue-500: var(--blue-500);
  --color-blue-600: var(--blue-600);
  --color-blue-700: var(--blue-700);
  --color-blue-800: var(--blue-800);
  --color-blue-900: var(--blue-900);
  --color-blue-950: var(--blue-950);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary-50: #eefaff;
  --primary-100: #d8f4ff;
  --primary-200: #b9ecff;
  --primary-300: #89e2ff;
  --primary-400: #52d0ff;
  --primary-500: #2ab4ff;
  --primary-600: #1397fd;
  --primary-700: #0c7ee9;
  --primary-800: #1164bc;
  --primary-900: #145594;
  --primary-950: #143c67;

  --primary-foreground: oklch(0.985 0 0);

  --secondary-50: #fcfde9;
  --secondary-100: #f7fcc5;
  --secondary-200: #f6fb8d;
  --secondary-300: #f7f84c;
  --secondary-400: #f3ec19;
  --secondary-500: #e3d40f;
  --secondary-600: #c4a70a;
  --secondary-700: #9c790c;
  --secondary-800: #816012;
  --secondary-900: #6e4e15;
  --secondary-950: #402908;

  --green-50: oklch(0.982 0.018 155.826);
  --green-100: oklch(0.962 0.044 156.743);
  --green-200: oklch(0.925 0.084 155.995);
  --green-300: oklch(0.871 0.15 154.449);
  --green-400: oklch(0.792 0.209 151.711);
  --green-500: oklch(0.723 0.219 149.579);
  --green-600: oklch(0.627 0.194 149.214);
  --green-700: oklch(0.527 0.154 150.069);
  --green-800: oklch(0.448 0.119 151.328);
  --green-900: oklch(0.393 0.095 152.535);
  --green-950: oklch(0.266 0.065 152.934);

  --blue-50: oklch(0.97 0.014 254.604);
  --blue-100: oklch(0.932 0.032 255.585);
  --blue-200: oklch(0.882 0.059 254.128);
  --blue-300: oklch(0.809 0.105 251.813);
  --blue-400: oklch(0.707 0.165 254.624);
  --blue-500: oklch(0.623 0.214 259.815);
  --blue-600: oklch(0.546 0.245 262.881);
  --blue-700: oklch(0.488 0.243 264.376);
  --blue-800: oklch(0.424 0.199 265.638);
  --blue-900: oklch(0.379 0.146 265.522);
  --blue-950: oklch(0.282 0.091 267.935);

  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .container {
    @apply max-w-7xl mx-auto px-4 md:px-8 lg:px-16;
  }
}
